In [4]:
#imp. sir used shift+tab to see different parameters/arguments of function we could use it also show default puy carser on
#function and press shift+tab


#steps
#1.import the libraries
!pip install --upgrade pandas
!pip install --upgrade numpy

Requirement already up-to-date: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Requirement already up-to-date: numpy in c:\users\admin\anaconda3\lib\site-packages (1.21.6)

In [10]:
import pandas as pd
import numpy as np

In [11]:
#2.Collect the data or read data

In [12]:
df=pd.read_csv('car data.csv')
type(df)

pandas.core.frame.DataFrame

In [13]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [14]:
#3.
df.shape

(301, 9)

In [17]:
df.info()
#df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [18]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [19]:
df.describe

<bound method NDFrame.describe of     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

In [20]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [21]:
#encode the data

In [22]:
#don't use this generally nowadays
encoded_data=pd.get_dummies(data,columns=[])
#error here because it is format use data value,columns names to remove error

NameError: name 'data' is not defined

In [23]:
#separate dependent and independend

In [24]:
#trying to predict Y with the help of X
#first dropping some columns from X
X=df.drop(columns=["Owner","Year","Seller_Type","Present_Price",'Car_Name'])
X

     Selling_Price  Kms_Driven Fuel_Type Transmission
0             3.35       27000    Petrol       Manual
1             4.75       43000    Diesel       Manual
2             7.25        6900    Petrol       Manual
3             2.85        5200    Petrol       Manual
4             4.60       42450    Diesel       Manual
..             ...         ...       ...          ...
296           9.50       33988    Diesel       Manual
297           4.00       60000    Petrol       Manual
298           3.35       87934    Petrol       Manual
299          11.50        9000    Diesel       Manual
300           5.30        5464    Petrol       Manual

[301 rows x 4 columns]

In [25]:
Y=df["Present_Price"]
Y

0       5.59
1       9.54
2       9.85
3       4.15
4       6.87
       ...
296    11.60
297     5.90
298    11.00
299    12.50
300     5.90
Name: Present_Price, Length: 301, dtype: float64

In [26]:
X.describe()

       Selling_Price     Kms_Driven
count     301.000000     301.000000
mean        4.661296   36947.205980
std         5.082812   38886.883882
min         0.100000     500.000000
25%         0.900000   15000.000000
50%         3.600000   32000.000000
75%         6.000000   48767.000000
max        35.000000  500000.000000

In [27]:
X.head(5)

   Selling_Price  Kms_Driven Fuel_Type Transmission
0           3.35       27000    Petrol       Manual
1           4.75       43000    Diesel       Manual
2           7.25        6900    Petrol       Manual
3           2.85        5200    Petrol       Manual
4           4.60       42450    Diesel       Manual

In [54]:
type(X)

pandas.core.frame.DataFrame

In [55]:
encoded_X=pd.get_dummies(X,columns=['Fuel_Type','Transmission'],drop_first=True)
#without drop_first it is normal result
#after we do drop_first=True it reduced the number of columns by one
#imp. sir used shift+tab to see different parameters/arguments of function we could use it also show default puy carser on
#function and press shift+tab

In [86]:
encoded_X.head()

,Selling_Price,Kms_Driven,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,3.35,27000,0,1,1
1,4.75,43000,1,0,1
2,7.25,6900,0,1,1
3,2.85,5200,0,1,1
4,4.60,42450,1,0,1

In [57]:
#devide the data into train and test data

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(encoded_X,Y,test_size=0.3,random_state=42)
#0.3 means 30% data going to test

In [60]:
Xtrain.head()

,Selling_Price,Kms_Driven,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
185,0.25,1900,0,1,0
72,7.45,56001,0,1,1
15,7.75,43000,1,0,1
10,2.85,2135,0,1,1
196,0.17,500000,0,1,0

In [61]:
Xtest.head()

,Selling_Price,Kms_Driven,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
177,0.35,24000,0,1,0
289,10.11,10980,0,1,1
228,4.95,60000,1,0,1
198,0.15,35000,0,1,1
60,6.95,40001,0,1,1

In [62]:
Ytrain.head()

185     0.58
72     18.61
15     10.79
10      3.60
196     0.52
Name: Present_Price, dtype: float64

In [63]:
Ytest.head()

177     0.57
289    13.60
228     9.40
198     0.57
60     18.61
Name: Present_Price, dtype: float64

In [28]:
#import the model

In [29]:
from sklearn.linear_model import LinearRegression

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):

In [66]:
lr=LinearRegression()

In [67]:
#fit the model,training

In [68]:
lr.fit(Xtrain,Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
#prediction

In [70]:
Ypred=lr.predict(Xtest)

In [71]:
Ypred

array([-0.26084306, 15.98335454,  7.57532695,  0.38971   , 11.75905745,
       11.0973146 ,  1.65036962,  0.05390565,  0.17428199,  8.7979659 ,
       12.70057041,  1.88689029, 11.21191892, -0.94549013,  9.04503289,
        5.50534011,  0.91336696, 27.25492691,  0.04123659,  1.80743639,
        0.05729126, 11.80484107,  7.29896955,  4.57715286,  0.79302431,
        6.31931782,  9.11145728,  4.77780254,  1.30825095,  1.54477162,
        0.57128198, 13.11216679,  0.61353465,  4.13165324, 11.61283681,
        6.15460649, 10.45194673,  7.31396748,  5.65853377,  8.47326111,
        7.2755573 ,  5.38908266,  7.01403412,  1.07095125,  9.23055388,
        1.02954498, 10.61030174,  9.70217736,  6.56215281,  4.26231815,
        7.99157032,  1.32217614, 37.08172532, 35.17693135, 13.05746294,
       17.34437695,  8.17094143, 14.1907816 ,  4.12381853, 11.04920112,
        0.46783366,  0.25032333,  0.31363497,  0.97889566,  6.68252915,
        1.14818135, 31.09762569, 36.02164801, 10.71314612,  2.12009272,
        4.2389026 ,  7.28847107,  9.23153815,  7.74163927,  3.05536174,
        2.03682328,  0.41373137, 17.64706019,  0.4391234 , 15.67295569,
        8.09613748,  4.80452522,  9.80553568, 31.25390198,  5.62536598,
       -0.8901654 ,  0.87196743,  4.7251598 ,  1.14360699, 23.67682976,
        1.42862729])

In [72]:
#determining accuracy of prediction
from sklearn.metrics import r2_score,mean_squared_error

In [73]:
print("r2_score",r2_score(Ytest,Ypred))
#r2_score tell how much accuracy

r2_score 0.8124362419628817

In [74]:
print("mean_squared_error",mean_squared_error(Ytest,Ypred))

mean_squared_error 12.051317603038134

In [75]:
#some common errors
#key error- spelling mistakes,etc
#value error- when we try to pass something in parenthesis we should not pass