#                 Aayush Sharma                 21BCON625                  Section-G      ML assignment-3

### Write python code for necessary dependencies to import dataset.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import optimizers

In [2]:
df=pd.read_csv("smartphones_cleaned_v6.csv")

In [3]:
df.shape

(980, 26)

In [4]:
df.head(5)

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,snapdragon,8.0,3.2,...,120,3,1.0,android,50.0,16.0,0,NaN,1440,3216
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.4,...,90,3,1.0,android,50.0,13.0,1,1024.0,1080,2408
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,snapdragon,8.0,2.2,...,120,3,1.0,android,50.0,16.0,1,1024.0,1080,2400
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.6,...,120,3,1.0,android,108.0,16.0,0,NaN,1080,2412

### Write python code to check the datatype of all the columns present in the dataset.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     879 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            960 non-null    object
 8   num_cores                  974 non-null    float64
 9   processor_speed            938 non-null    object
 10  battery_capacity           969 non-null    object
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    int64
 14  internal_memory            980 non-null    object
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  num_rear_cameras           980 non-null    int64
 18  num_front_cameras          976 non-null    float64
 19  os                         966 non-null    object
 20  primary_camera_rear        980 non-null    float64
 21  primary_camera_front       975 non-null    float64
 22  extended_memory_available  980 non-null    int64
 23  extended_upto              500 non-null    float64
 24  resolution_width           980 non-null    int64
 25  resolution_height          980 non-null    int64
dtypes: bool(3), float64(8), int64(8), object(7)
memory usage: 179.1+ KB

### Write python code to view the all the statistical measure in the dataset.

In [6]:
df.describe()

,price,rating,num_cores,fast_charging_available,fast_charging,ram_capacity,screen_size,refresh_rate,num_rear_cameras,num_front_cameras,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
count,980.000000,879.000000,974.000000,980.000000,769.000000,980.000000,980.000000,980.000000,980.000000,976.000000,980.000000,975.000000,980.000000,500.000000,980.000000,980.000000
mean,32520.504082,78.258248,7.772074,0.854082,46.126138,6.560204,6.536765,92.256122,2.814286,1.029713,50.319286,16.589128,0.630612,736.064000,1075.852041,2214.663265
std,39531.812669,7.402854,0.836845,0.353205,34.277870,2.744378,0.349162,28.988052,0.776441,0.169882,33.000968,10.876802,0.482885,366.894911,290.164931,516.484254
min,3499.000000,60.000000,4.000000,0.000000,10.000000,1.000000,3.540000,60.000000,1.000000,1.000000,2.000000,0.300000,0.000000,32.000000,480.000000,480.000000
25%,12999.000000,74.000000,8.000000,1.000000,18.000000,4.000000,6.500000,60.000000,2.000000,1.000000,24.000000,8.000000,0.000000,512.000000,1080.000000,1612.000000
50%,19994.500000,80.000000,8.000000,1.000000,33.000000,6.000000,6.580000,90.000000,3.000000,1.000000,50.000000,16.000000,1.000000,1024.000000,1080.000000,2400.000000
75%,35491.500000,84.000000,8.000000,1.000000,66.000000,8.000000,6.670000,120.000000,3.000000,1.000000,64.000000,16.000000,1.000000,1024.000000,1080.000000,2408.000000
max,650000.000000,89.000000,8.000000,1.000000,240.000000,18.000000,8.030000,240.000000,4.000000,2.000000,200.000000,60.000000,1.000000,2048.000000,2460.000000,3840.000000

In [7]:
x=df["brand_name"].value_counts()[(df["brand_name"].value_counts()<=10)]
other_brands=x.index
np.array(other_brands)

array(['itel', 'sony', 'asus', 'nubia', 'nothing', 'lava', 'jio',
       'gionee', 'micromax', 'oukitel', 'lg', 'redmi', 'letv', 'ikall',
       'royole', 'doogee', 'zte', 'lenovo', 'lyf', 'sharp', 'tcl', 'cat',
       'leitz', 'duoqin', 'leeco', 'blu', 'vertu', 'tesla', 'cola',
       'blackview'], dtype=object)

In [8]:
#(list comp topic net)
df["brand_name"]=[i if i not in other_brands else "others" for i in df["brand_name"] ]

In [9]:
df["brand_name"].value_counts()

xiaomi      134
samsung     132
vivo        111
realme       97
oppo         88
others       87
motorola     52
apple        46
oneplus      42
poco         41
tecno        33
iqoo         32
infinix      29
huawei       16
google       14
nokia        13
honor        13
Name: brand_name, dtype: int64

In [10]:
df["processor_speed"].value_counts()

2       144
2.2     135
2.4     127
3.2      94
2.3      86
3        53
2.84     36
2.05     28
1.8      23
2.5      22
1.6      20
2.85     19
3.22     17
3.1      15
2.6      14
2.9      13
1.82     10
1.3      10
2.73      9
2.8       9
3.05      8
2.36      8
1.4       5
2.65      5
          5
2.7       5
1.5       4
2.96      3
2.86      3
3.13      2
2.35      1
2.37      1
1.99      1
1.95      1
2.1       1
1.2       1
Name: processor_speed, dtype: int64

In [11]:
df=df.replace(" ",np.NaN)

In [12]:
df=df.astype({"processor_speed":"float32","battery_capacity":"float64","internal_memory":"float64"})

### Write python code to check the null value present in the in the dataset.

In [13]:
print(df.isna().sum())

brand_name                     0
model                          0
price                          0
rating                       101
has_5g                         0
has_nfc                        0
has_ir_blaster                 0
processor_brand               20
num_cores                      6
processor_speed               47
battery_capacity              16
fast_charging_available        0
fast_charging                211
ram_capacity                   0
internal_memory               18
screen_size                    0
refresh_rate                   0
num_rear_cameras               0
num_front_cameras              4
os                            14
primary_camera_rear            0
primary_camera_front           5
extended_memory_available      0
extended_upto                480
resolution_width               0
resolution_height              0
dtype: int64

In [14]:
df=df.drop(columns=["extended_upto","model"],axis=1)

In [15]:
df["rating"]=df["rating"].fillna(df["rating"].mean())
df["processor_brand"]=df["processor_brand"].fillna(df["processor_brand"].mode()[0])
df["num_cores"]=df["num_cores"].fillna(df["num_cores"].mode()[0])
df["processor_speed"]=df["processor_speed"].fillna(df["processor_speed"].mean())
df["battery_capacity"]=df["battery_capacity"].fillna(df["battery_capacity"].mean())
df["fast_charging"]=df["fast_charging"].fillna(df["fast_charging"].mode()[0])
df["num_front_cameras"]=df["num_front_cameras"].fillna(df["num_front_cameras"].mode()[0])
df["os"]=df["os"].fillna(df["os"].mode()[0])
df["primary_camera_front"]=df["primary_camera_front"].fillna(df["primary_camera_front"].mean())
df["internal_memory"]=df["internal_memory"].fillna(df["internal_memory"].mean())

In [16]:
df.isna().sum().sum()

0

### What are dependent and independent feature? Write python code to separate them in the given dataset.

Independent Features (also known as predictors or inputs) are the variables that are used to predict or explain the outcome (dependent variable). They do not change in response to the dependent variable.

Dependent Features (also known as targets or outputs) are the variables that are being predicted or explained. They are influenced by the independent variables.

In [17]:
x=df.drop(columns=["price"],axis=1)
y=df["price"]

### How do you split dataset into train and test dataset? Explain the role of random state parameter in the splitting operation.

Splitting the dataset into train and test sets allows for evaluating the model's performance on unseen data. Random state ensures consistent splits across different runs.

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

### What do you mean by one hot encoding? Select the necessary feature in the dataset and perform encoding transformation.

One-hot encoding is a technique used to represent categorical variables as binary vectors. Each category is represented by a unique binary vector, where the corresponding element in the vector is 1 and the rest are 0. This allows machine learning algorithms to process categorical data.

In [19]:
ohe=OneHotEncoder(drop='first',sparse=False)
x_train_new=ohe.fit_transform(x_train[["brand_name","has_5g","has_nfc","has_ir_blaster","processor_brand","os"]])
x_test_new=ohe.transform(x_test[["brand_name","has_5g","has_nfc","has_ir_blaster","processor_brand","os"]])

x_train_new=np.hstack((x_train[["rating","num_cores","processor_speed","battery_capacity",
                               "fast_charging_available","fast_charging","ram_capacity",'internal_memory',"screen_size",
                               'refresh_rate','num_rear_cameras','num_front_cameras','primary_camera_rear','primary_camera_front'
                               ,'extended_memory_available','resolution_width','resolution_height'
                              ]].values,x_train_new))

x_test_new=np.hstack((x_test[["rating","num_cores","processor_speed","battery_capacity",
                               "fast_charging_available","fast_charging","ram_capacity",'internal_memory',"screen_size",
                               'refresh_rate','num_rear_cameras','num_front_cameras','primary_camera_rear','primary_camera_front'
                               ,'extended_memory_available','resolution_width','resolution_height'
                              ]].values,x_test_new))

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

### Why do we perform feature scaling? Write necessary python code to perform feature scaling (standardization/normalization).

Feature scaling is a technique used to normalize the range of features to a similar scale. This is often done to improve the performance of machine learning algorithms, as some algorithms are sensitive to the scale of the features.

In [20]:
st=StandardScaler()
x_train_trf=st.fit_transform(x_train_new)
x_test_trf=st.transform(x_test_new)
x_train_trf.shape

(784, 50)

### What is deep learning? Build a artificial neural network for price prediction of mobile phones.

Deep learning involves artificial neural networks (ANNs) to learn complex patterns from data. ANNs consist of interconnected layers of neurons that process and transform information.

In [21]:
model=Sequential()
model.add(Dense(50,activation="relu",input_dim=50))
model.add(Dense(10,activation="relu"))
model.add(Dense(5,activation="relu"))
model.add(Dense(1))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2550

 dense_1 (Dense)             (None, 10)                510

 dense_2 (Dense)             (None, 5)                 55

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 3121 (12.19 KB)
Trainable params: 3121 (12.19 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### How do you set the learning rate and optimizers in deep learning model?

In [22]:
# Create an Adam optimizer with a custom learning rate
custom_optimizer = optimizers.Adam(learning_rate=0.1)
model.compile(optimizer=custom_optimizer,loss="mean_absolute_error", metrics=['mae'])
# model.compile(optimizer="Adam",loss="mean_absolute_error")

In [23]:
model.fit(x_train_trf,y_train,epochs=10,verbose=1,validation_split=0.2,batch_size=50)

Epoch 1/10
13/13 [==============================] - 2s 36ms/step - loss: 30417.5117 - mae: 30417.5117 - val_loss: 31341.3145 - val_mae: 31341.3125
Epoch 2/10
13/13 [==============================] - 0s 9ms/step - loss: 18603.6172 - mae: 18603.6172 - val_loss: 17451.1328 - val_mae: 17451.1328
Epoch 3/10
13/13 [==============================] - 0s 8ms/step - loss: 11103.7373 - mae: 11103.7373 - val_loss: 13594.4697 - val_mae: 13594.4697
Epoch 4/10
13/13 [==============================] - 0s 10ms/step - loss: 8747.1465 - mae: 8747.1465 - val_loss: 12603.7344 - val_mae: 12603.7344
Epoch 5/10
13/13 [==============================] - 0s 9ms/step - loss: 7874.6836 - mae: 7874.6836 - val_loss: 12641.9375 - val_mae: 12641.9375
Epoch 6/10
13/13 [==============================] - 0s 8ms/step - loss: 7518.2417 - mae: 7518.2417 - val_loss: 12116.2607 - val_mae: 12116.2607
Epoch 7/10
13/13 [==============================] - 0s 9ms/step - loss: 7057.0249 - mae: 7057.0249 - val_loss: 11454.4033 - val_mae: 11454.4033
Epoch 8/10
13/13 [==============================] - 0s 8ms/step - loss: 6951.9897 - mae: 6951.9897 - val_loss: 11198.4404 - val_mae: 11198.4404
Epoch 9/10
13/13 [==============================] - 0s 7ms/step - loss: 6840.7056 - mae: 6840.7056 - val_loss: 11083.4648 - val_mae: 11083.4648
Epoch 10/10
13/13 [==============================] - 0s 8ms/step - loss: 6831.3325 - mae: 6831.3325 - val_loss: 11043.1348 - val_mae: 11043.1348

In [24]:
y_pred=model.predict(x_test_trf)

7/7 [==============================] - 0s 3ms/step

In [25]:
y_pred[:3]

array([[116383.195],
       [ 10316.425],
       [ 33343.79 ]], dtype=float32)

In [26]:
model.evaluate(x_test_trf,y_test)

7/7 [==============================] - 0s 3ms/step - loss: 7589.8877 - mae: 7589.8877

[7589.8876953125, 7589.8876953125]